[Unit]
Description=Waybar for Niri
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/local/bin/waybar
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
