// Verify identifiers with `niri msg outputs` on first Niri login.
output "eDP-1" {
    position x=0 y=0
    scale 1
}
output "DP-3" {
    position x=1920 y=0
}
output "DP-4" {
    position x=3840 y=0
}

workspace "1" {
    open-on-output "eDP-1"
}
workspace "2" {
    open-on-output "eDP-1"
}
workspace "3" {
    open-on-output "DP-3"
}
workspace "4" {
    open-on-output "DP-3"
}
workspace "5" {
    open-on-output "DP-4"
}
workspace "6" {
    open-on-output "DP-4"
}
