window-rule {
    match app-id="^pavucontrol$"
    open-floating true
}
window-rule {
    match app-id="^nm-connection-editor$"
    open-floating true
}
window-rule {
    match app-id="^blueman-manager$"
    open-floating true
}
window-rule {
    match app-id="^org.gimp.GIMP$"
    open-floating true
}
